.header {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: auto;
    text-align: center;
    position: relative;
    min-height: 68px;
    font-weight: bold;
}

.dropperIcon {
    left: 0;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.dropperIcon.active {
    background-color: #eee;
}

.dropperIcon svg {
    width: 32px;
    height: 32px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.dropperActive {
    cursor: none;
}
